<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_DIR_HOME" value="C:\\logs" />

	<!-- write logs to Console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- Log message format -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- write logs to file -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>${LOG_DIR_HOME}/OMS-log.log</file>

		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR_HOME}/archived/OMS-log.%d{yyyy-MM-dd-HH.mm}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1KB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- write package/class specific logs to file -->
	<!-- <logger name="org.springframework.web" level="INFO" > <appender-ref 
		ref="FILE" /> </logger> -->

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>